%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    Scott Messinger -
    %a{ :href => 'http://github.com/scottmessinger' } github
    \-
    %a{ :href => 'http://twitter.com/scottmessinger' } @scottmessinger
    \-
    %a{ :href => 'http://commoncurriculum.com' } commoncurriculum.com